@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505; /* Hitam Deep */
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Tambahkan sedikit noise texture di seluruh web biar makin mirip video referensi */
  background-image: url("https://www.transparenttextures.com/patterns/dark-matter.png");
}